body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.ra-elem-wrapper {
  display: block;
  margin-top: 10px;
  margin-bottom: 22px;
}

.ra-elem-wrapper.ra-error {
  margin-bottom: 0;
  color: red;
}

.ra-elem-instance.ra-error {
  margin-bottom: 0;
  color: red;
}

pre code {
  background: #FFF;
}

.ra-elem-boolean label {
  display: inline-block;
  margin-right: 10px
}

.ra-form-label {
  display: block;
}

.ra-elem-error-text {
  display: block;
  font-size: 9px;
}

.ra-add-button {
  margin: 10px 0;
  display: block;
}

.ra-submit-button {
  margin-top: 10px;
  display: block;
}

.custom-select-field {
  position: relative;
}

.custom-select-field .results {
  position: absolute;
  top: calc(100% + 5px);
  background-color: white;
  width: 100%;
  border: 1px solid lightgrey;
  overflow: scroll;
  height: 45px;
}

.custom-select-field .results .loader {
  border: 2px solid #f3f3f3; /* Light grey */
  border-top: 2px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 20px;
  height: 20px;
  animation: spin 2s linear infinite;
  margin: auto;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}