body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.ra-elem-wrapper {
  display: block;
  margin-top: 10px;
  margin-bottom: 22px;
}

.ra-elem-wrapper.ra-error {
  margin-bottom: 0;
  color: red;
}

pre code {
  background: #FFF;
}

.ra-elem-boolean label {
  display: inline-block;
  margin-right: 10px
}

.ra-form-label {
  display: block;
}

.ra-elem-error-text {
  display: block;
  font-size: 9px;
}